<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stonedonkey.shackdroid" android:versionCode="28" android:versionName="1.6992"> <!-- android fail can't set versionName via strings.xml  -->
    <application android:theme="@style/MyAppTheme" android:restoreAnyVersion="true" android:backupAgent="com.stonedonkey.shackdroid.ShackDroidBackupAgent" android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <service android:process=":remote" android:name=".ActivityShackDroidServices" >
        </service>
       <receiver android:name=".ShackDroidServicesReceiver">
       <intent-filter>
       	<action android:name ="android.intent.action.BOOT_COMPLETED">
       </action>
       </intent-filter>
       </receiver>
        <activity  android:screenOrientation="portrait" android:name="ActivitySplashScreen" android:label="@string/app_name">

        </activity>
        <activity android:screenOrientation="sensor" android:name="ActivityTopicView" android:label="ShackDroid"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityThreadedView" android:label="TheadView"></activity>
        <activity android:screenOrientation="sensor" android:name=".ActivityPreferences" android:label="ShackDroidPreferences"></activity>
        <activity android:screenOrientation="sensor" android:name=".ActivityPost" android:label="ShackDroidPost"></activity>
        <activity android:screenOrientation="sensor" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".ActivityInfoViewer" android:label="InfoViewer"></activity>        
        <activity android:screenOrientation="sensor" android:name="ActivityNotes" android:label="ShackDroidNotes"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityRSS" android:label="ShackDroidRSS"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityWebView" android:label="ShackDroidWebView"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityShackMarks" android:label="ShackMarks"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivitySearch" android:label="Search Shack"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivitySearchResults" android:label="Search Results"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityMessages" android:label="Shack Messages"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityViewMessage" android:label="View Shack Message"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityPostMessage" android:label="Create Shack Message"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityMainMenu" android:label="ShackDroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       
        </activity>
        <activity android:screenOrientation="sensor" android:name="ActivityLOL" android:label="ShackLOLs"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityStats" android:label="ShackDroid - Stats"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivityLOLTabs" android:label="ShackLOLs"></activity>
        <activity android:screenOrientation="sensor" android:name="ActivitySearchTabs" android:label="ShackDroid - Search" ></activity>
        <activity android:screenOrientation="sensor" android:name=".FragmentTopicView" android:label="ShackDroid" ></activity>
        <activity android:screenOrientation="sensor" android:name=".FragmentActivityTopic" android:label="ShackDroid" ></activity>
        <activity android:screenOrientation="sensor" android:name=".FragmentThreadedView" android:label="ShackDroid" ></activity>
        <activity android:screenOrientation="sensor" android:name=".FragmentActivityThread" android:label="ShackDroid" ></activity>
        <activity android:screenOrientation="sensor" android:name=".FragmentActivitySearchResults" android:label="ShackDroid" ></activity>
        <activity android:screenOrientation="sensor" android:name=".FragmentSearchResults" android:label="ShackDroid" ></activity>
        <activity android:name="ActivityCamera" android:label="ShackDroid - Snap Picture" android:configChanges="orientation" android:screenOrientation="sensor" android:theme="@android:style/Theme.Translucent.NoTitleBar">
           <intent-filter android:icon="@drawable/icon" android:label="@string/app_name"><action android:name="android.intent.action.SEND"></action>
        		<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.ALTERNATIVE"></category>
				<category android:name="android.intent.category.SELECTED_ALTERNATIVE"></category>
				<data android:mimeType="image/*"></data>
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>
<activity android:excludeFromRecents="true" android:stateNotNeeded="true" android:name="ActivityUrlParser" android:noHistory="true">
            <intent-filter android:icon="@drawable/icon" android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"></action>
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="http" android:host="www.shacknews.com" android:pathPattern=".*chatty*"/>
			    <data android:scheme="http" android:host="shacknews.com" android:pathPattern=".*chatty*"/>          
            </intent-filter>
</activity>
<activity android:name="ActivityProfile" android:label="ShackDroid - ChattyProfil.es" android:screenOrientation="sensor"></activity>
<meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIXKrNAEkV-aYUISu5HDbNO6nxa0H9bM4-mG0mOA" />
</application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.BOOT_COMPLETED"></uses-permission>
	<uses-sdk  android:minSdkVersion="8" android:targetSdkVersion="15"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	
<supports-screens android:largeScreens="true" android:anyDensity="true" android:resizeable="true" android:smallScreens="true" android:normalScreens="true"></supports-screens>

<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.BACKUP"></uses-permission>

</manifest> 