<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stonedonkey.shackdroid">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ShackDroid" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShackDroidThread" android:label="TheadView"></activity>
        <activity android:name=".ShackDroidPreferences" android:label="ShackDroidPreferences"></activity>
        <activity android:name=".ShackDroidPost" android:label="ShackDroidPost"></activity>        
        <activity android:name="ShackDroidNotes" android:label="ShackDroidNotes"></activity>
        <activity android:name="ShackDroidRSS" android:label="ShackDroidRSS"></activity>
</application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 